.castList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.listItem {
  max-width: 300px;
  margin: 10px;
  box-shadow: 5px 5px 5px #000;
  border-radius: 10px;
  transition: transform 0.3s linear;
}

.listItem:hover {
  transform: scale(1.05);
  z-index: 10;
}

.listItem img {
  height: 450px;
}

.listItem p {
  text-align: left;
  padding: 0 10px;
}

.listItem p span {
  padding-left: 3px;
  font-weight: bold;
  display: block;
  text-shadow: 3px 3px 10px#6ec3ff;
}
