.NavLink {
  composes: Button from '../../index.module.css';
  display: inline-block;
  margin: 0;
  margin-right: 15px;
}

.loaderWrapper {
  composes: loaderWrapper from '../../components/App/App.module.css';
}

.goBackBtn {
  composes: Button from '../../index.module.css';
}
