.moreBtn {
  composes: goBackBtn from '../components/MovieDescription/MovieDescription.module.css';
  width: 150px;
  height: 40px;
  font-size: 100%;
  margin: 10px auto;
}

.title {
  composes: centerTitle from '../components/App/App.module.css';
}

.errorTitle {
  composes: centerTitle from '../components/App/App.module.css';
  text-shadow: 2px 2px 10px rgb(228, 104, 67);
}

.loaderWrapper {
  composes: loaderWrapper from '../components/App/App.module.css';
}
